body {
  position: relative;
  height: 100vh;
  background: linear-gradient(#7155B1, #201733);
  text-align: center;
}
.app-layout {
  background: #EEE;
  text-align: center;
  height: 80vh;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #111;
}

.app {
  padding-top: 10vh;
}

.menu-class {
  background: #fd9047;
  border-bottom-color: #fd9047;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-generator {
  padding-top: 20px;
  float: left;
  background: #201733;
  width: 40%;
  height: 75vh;
  border-bottom-left-radius: 5px;
}

.input-class {
  padding: 20px;
  text-align: right;
}

.button-class {
  background: #fd9047;
  color: #201733;
  border-radius: 5px;
  border-color: #201733;
  width: 100px;
  height: 40px;
}

.white-color {
  color: white;
}

.created-todo-class {
  background: #FFF;
  height: 40px;
  margin: 10px;
  text-align: left;
  border-radius: 5px;
  color: #201733;
  font-size: 15px;
  vertical-align:auto;
  box-shadow: 1px 1px 3px #111;
  padding: 8px;
}

.delete-todo-class {
  float: right;
}

.todo-group-container {
  height: 75vh;
  overflow-y: auto;
}

.todo-group-container::-webkit-scrollbar {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}